*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

.header {
    text-align: center;
}

.quizBody {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    background-image: url("images/mothercrystal.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.quizContainer {
    width: 800px;
    max-width: 80%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 8px lightblue;
}

.quizButtonBox {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.quizButton, .start, .next {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: #FFFFFF;
    outline: none;
}

.quizButton:hover, .start:hover, .next:hover {
    border-color: #000000;
    cursor: pointer;
}

.correct {
    --hue: var(--hue-correct);
    color: #000000;
}

.wrong {
    --hue: var(--hue-wrong);
}

.start, .next {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    align-items: center;
    display: inline-block;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
